.header {
    width: 100%;
}

.form {
    display: flex;
    color: $second;
    text-transform: uppercase;
    justify-content: space-around;
    font-size: 13px;
    font-weight: 700;
    padding: 0 100px;
    height: 64px;
    min-width: 1400px;

    &:nth-child(2) {
        background: $second;
        color: $main;
    }

    > div {
        padding: 14px 0;
    }

    &__languages {
        text-align: left;
        flex: 0.1;
        button {
            width: 36px;
            height: 36px;
            background: none;
            border: none;
            border-radius: 100%;
            font-family: $navigo-font;
            font-weight: normal;
            color: $second;
            font-size: 11px;
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;
        }
        .active {
            background: #3D4252;
            color: $main;
        }
    }

    &__time {
        display: flex; 
        font-size: 11px;
        line-height: 13px;
        text-align: left;
        flex: 1;
       span {
           padding-left: 15px;
           display: inline-block;
           line-height: 18px;
           a {
               border-bottom: 1px solid $second;
               cursor: pointer;
           }
       }
    }

    &__social {
        ul {
            display: flex;
            padding: 0;
            li {
                list-style: none;
                margin-right: 6px;
                svg {
                    fill: #2694F7;
                }
            }
        }
    }

    &__search {
        flex: 0.1;
    }

    &__map {
        div {
            line-height: 16px;
            padding: 7px 16px; 
            border: 2px solid #656C81;
            border-radius: 17px;
        }
    }

    &__nav {
        flex: 1;

        ul {
            display: flex;
            height: 100%;
            justify-content: center;
            padding: 0;
            li {
                list-style: none; 
                font-size: 12px;
                line-height: 35px;
                cursor: pointer;
                padding: 0 10px;
           }   
        }      
    }

    &__cabinet {
        width: 131px;
        line-height: 34px;
    }
}

.cabinet {
    border: 2px solid #656C81;
    border-radius: 17px;
    padding-left: 16px;
    display: flex;
    &__value {
        flex: 1;
        .number {
            background-color: #2694F7;
            border-radius: 100%;
            width: 22px;
            height: 22px; 
            margin: 6px 8px;
            text-align: center;
            line-height: 22px;
        }
    }
}

.bitmap {
    text-align: center;
    letter-spacing: 3px;
    padding: 116px 0;
    background: url("<%-(./img/src/bg.png) %>");
    h2 {
        font-size: 32px;
        font-weight: 700;
    }
    h1 {
        font-size: 52px;
        font-weight: 300;
    }
}

.icon {
    border: 1px solid #656C81;
    border-radius: 100%;
    width: 36px;
    height: 36px;
}
