@font-face {
    font-family: 'Navigo';
	src:
        url('../fonts/font_navigo/Navigo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Navigo';
	src:
        url('../fonts/font_navigo/Navigo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Navigo';
	src:
        url('../fonts/font_navigo/Navigo-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}
